requests==2.31.0
selenium==4.9.1
webdriver-manager
Jinja2==3.1.2
moviepy
google-auth-oauthlib
google-api-python-client
newsapi-python
python-dotenv
selenium
scikit-learn
webdriver-manager
beautifulsoup4==4.12.2
boto3
pydub
